/CacheClass.class
/MyComponent.class
/ReplacementPolicy.class
/Slice.class
/UICache$1.class
/UICache$2.class
/UICache$3.class
/UICache$4.class
/UICache$5.class
/UICache$6.class
/UICache$7.class
/UICache$8.class
/UICache.class
/WriteHitPolicy.class
/WriteMissPolicy.class
/main.class
